<% if @error %>
  <div id="error_explanation">
    <h2>Could not login successfully</h2>
    <ul>
      <li>Invalid email/password combination. <%= link_to "Forgot password?", forgot_password_users_path %></li>
    </ul>
  </div>
<% end %>
