<% if logged_in? %>
  <p class="bigger">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search your books you want to <b>Buy</b> and <b>Sell</b> or list <b>'Looking For'</b> and <b>'For Sale'</b> for other users to see
  </p>
<% end %>

<%= render 'search_form', :textbook => @textbook %>
