<h1><%= @user.username %>, Your New Password</h1>

<p>
  Copy and paste this to the login page as if it was your normal password : <b><%= @token %></b>
</p>
<p>
  You can <b>change your password in the 'Settings' as soon as you login</b>.
</p>
<p>
  After clicking the 'Send New Password' link, you only get <b>one attempt</b> to login with this new password. If you fail to login the first time for any other reason, you must click 'Send New Password' again to recieve a another new password.
</p>
<p>
  The 'Send New Password' button was clicked for this user. If you did not click 'Send New Password', disregard this message, and <b>you may still use your old password to login</b>.
</p>
