body {
  background: #6b2c2c;
  height: 100%;
}

.container {
  margin: 0 7em;
  background: #666;
  padding: 0 3em;
  min-height: 100%;
}

header {
  padding-bottom: 3em;
}

h1, h2 {
  font-family: arial;
}

h1 {
  text-align: center;
}

header .links {
  float:right;
}

.links {
  padding: 0 2em;
  display: block;
  white-space: nowrap;
}

.links li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

a {
  padding: 0 0;
  font-weight: bold;
  color: #6b2c2c;
}

a:visited{
  color: #6b2c2c;
}

footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2em;
}
