body {
  background: #6b2c2c;
}

.container {
  margin: 0 7em;
  background: #DCDCDC;
  padding: 0 2em;
  min-height: 100%;
}

.content {
  padding: 0 1em;
}

header {
  padding-bottom: 3em;

}

h1 a:link {
  color: black;
}

h1 a:visited {
  color: black;
}

h1, h2 {
  font-family: arial;
}

.center_text {
  text-align: center;
}

.left {
  float: left;
  padding-left: 0;
}

.right {
  float: right;
  padding-right: 0;
}

.links {
  display: block;
  white-space: nowrap;
  padding-left: 0;
}

.links li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em .1em;
}

a:link {
  padding: 0 0;
  font-weight: bold;
  color: #6b2c2c;
}

a:visited{
  color: #6b2c2c;
}

footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2em;
}

#error_explanation {
  width: 450px;
  border: 2px solid #6b2c2c;
  padding: 7 px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #DCDCDC;
}

#error_explanation h2{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #6b2c2c;
  color: white;
}

#error_explanation ul li {
  color: black;
}

.field {
  padding-bottom: 15px;
}

.field div{
  display: inline;
}

.isbn_search #textbook_isbn {
  width: 13em;
  font-family: arial;
}

.textbook_form .field{
  padding-bottom: 10px;
}

.actions {
}

.isbn_search label{
  font-weight: bold;
  color: white;
  padding-right: 1em;
}

.user_form .field_with_errors {
  display: inline;
}

.flash {
  width: 500px;
  border: solid;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.flash_notice {
  color: black;
  font-weight: bold;
  list-style-type: circle;
  margin-left: 10px;
}

.login_form div {
  display: block;
}

.double {
  font-size: 2em;
}

.bigger {
  font-size: 1.5em;
}

.little_bigger {
  font-size: 1.25em;
}

.textbook_form table {
  border-spacing: 10px;
}

.textbook_form .isbn_field {
}

.user_form label{
  margin-right: 20px;
}

.user_form .settings {
  padding-bottom: 1em;
}

.new_link a{
  color: black;
}

.notification_or_message {
  border: 4px solid #6b2c2c;
  margin: 1em;
  font-family: arial;
  padding: 1em 1em;
}

.date {
  margin: 0;
  padding-top: 5px;
  text-align: right;
}

.white {
  background: white;
}

.small_text {
  font-size: 80%;
}

.bold {
  font-weight: bold
}

.full_width {
  width: 100%;
}

.no_margin {
  margin: 0;
}

.no_underline {
  text-decoration: none;  
}

.no_underline a:link {
  text-decoration: none;
}

.no_underline a:visited {
  text-decoration: none
}

.book_info{
  width: 500px;
}

.float_right {
  float: right;
}

.half_width{
  width: 50%
}

.padding_bottom {
  padding-bottom: 1em;
}

.padding_top {
  padding-top: 3em;
}

#search_form {
  padding-bottom: 4em;
}

#barcode_image {
  float: right;
  padding-right: 10em;
  badding-bottom: 1em;
}
