<% form_tag post_forgot_password_users_path do %>
  <div>
    <%= label_tag :user, 'UMass Email Address' %><br/>
    <%= text_field_tag :user, nil,:size => 10 %><b>@student.umass.edu</b>
  </div><br/>

  <div class="actions">
    <%= submit_tag 'Send New Password' %>
  </div>
<% end %>
