<% form_tag post_forgot_password_users_path do %>
  <div>
    <%= label_tag :user, 'Email Address' %><br/>
    <%= email_field_tag :user %><br/>
  </div><br/>

  <div class="actions">
    <%= submit_tag 'Send New Password' %>
  </div>
<% end %>
