<div>
  <p>This goal of this site is to connect as many buyers and sellers of textbooks at UMass. This site eliminates the cost of a middleman (Campus bookstore, Half.com, Amazon.com) by directly connecting students.</p>
</div>
