<div>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trade Campus Books aims to connect those UMass Amherst students looking to sell or buy their textbooks and <b>save them money</b>. Campus bookstores buyback textbooks for a fraction of the price that they sell it to you for. Even 'Used' prices at the bookstore are much higher than the bookstore paid for them. By using this site, both the buyer and the seller are saving (or gaining) money they would have spent at the bookstore.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This site is developed and administered by a full time UMass Amherst Undergraduate. If you'd like to contact him directly, you can email him at <%= mail_to 'apenniman@tradecampusbooks.com' %>
  </p>
</div>
