<div>
  <p>
    &nbsp;&nbsp;&nbsp;Welcome to Trade Campus Books where UMass Amherst students can list, send offers, and make deals on books they wish to buy and sell. All users require a '@student.umass.edu' email address to become verified. Only verified users can list books they want to buy or sell, send offers regarding a currently listed book, or accept an offer to make a deal on a book. This site is <strong>completely free</strong> and will remain so forever. If you have any questions, feel free to email us at <%= mail_to 'support@tradecampusbooks.com' %>. Thanks for using this site, and good luck bargaining.
  </p>
  <p class="double new_link">
    <%= link_to 'Sign up here!', signup_path %>
  </p>
  <p class="double">
    Search for your books <%= link_to 'here', textbooks_search_path %>.
  </p>
</div>
