<p class="little_bigger">
  <%= link_to 'Back to Search', textbooks_search_path %>
</p>

<br/>
<div>
  <%= image_tag 'spire1.jpg' %>
</div><br/><br/>

<div>
  <%= image_tag 'spire2.jpg' %>
</div><br/>

<p class="little_bigger">
  <%= link_to 'Back to Search', textbooks_search_path %>
</p>
