<p>
  &nbsp;&nbsp;&nbsp;Renewing a listing updates the 'updated_at' attribute for your listing. When users view all the listings for a particular book, the listings shown to them are in order of <strong>most recent</strong>. So, by updating your listing, you are moving your listing to the the top of the list.
</p>
