<% if error.errors.any? %>
  <div id="error_explanation">
    <% if header %><h2><%= header %></h2><% end %>
    <ul>
      <% error.errors.each do |att, msg| %>
        <li><%= raw msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
