<% if textbook.errors.any? %>
  <div id="error_explanation">
    <h2>A textbook with that ISBN number couldn't be found</h2>
    <ul>
      <% textbook.errors.each do |att, msg| %>
        <% if att == :isbn %><li>ISBN <%= msg %><% end %></li>
      <% end %>
    </ul>
  </div>
<% end %>