<header>
  <ul class="links">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sign in", root_path %></li>
    <li><%= link_to "Help", root_path %></li>
    <li><%= link_to "About", root_path %></li>
  </ul>
</header>

<h1>Zoomass Textbooks</h1>
